.send-verify {
    position: relative;
    margin-bottom: 10px;
    .confirm-button {
        width: 96px;
        height: 48px;
        position: absolute;
        top: 0;
        right: 0;
    }
}
.verify-phone {
    position: relative;
    opacity: 0;
    pointer-events: none;
    height: 0;
    transition: all .3s ease-in;
    .confirm-button {
        width: 96px;
        height: 48px;
        position: absolute;
        top: 0;
        right: 0;
    }
}

.sent{
    opacity: 1;
    pointer-events: auto;
    height: auto;
}