.send-verify {
    display: flex;
    margin-bottom: 10px;
    .confirm-button {
        min-width: 96px;
        height: 48px;
    }
    .hasMargin{
        margin-left: 10px;
    }
}
.verify-phone {
    display: flex;
    opacity: 0;
    pointer-events: none;
    height: 0;
    transition: all .3s ease-in;
    .confirm-button {
        min-width: 96px;
        height: 48px;
    }
}

.sent{
    opacity: 1;
    pointer-events: auto;
    height: auto;
}