.send-verify {
    display: flex;
    position: relative;
    .confirm-button {
        min-width: 96px;
        height: 48px;
    }
}
.verify-phone {
    display: flex;
    opacity: 0;
    pointer-events: none;
    height: 0;
    transition: all .3s ease-in;
    .confirm-button {
        min-width: 96px;
        height: 48px;
    }
}

.sent{
    opacity: 1;
    pointer-events: auto;
    height: auto;
}