@import '../../static/stylesheets/Root.scss';

.coupon-page{
    @include container();
    .coupon-input{
        position: fixed;
        z-index: 1800;
        width: 75px;
        height: 48px;
        top: 0;
        right: 0;
        border-radius: 25px;
    }
}