@import '../../../static/stylesheets/Root.scss';

.container{
    padding: $padding;

    @include container($pd-top);
    
    .title{
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 34px;
    }

    .card{
        border: 1px solid #E9EBED;

        .card-title{
            font-size: 18px;
            font-weight: bold;
        }
    }
}