@import '../../static/stylesheets/Root.scss';
html{
    body{
        .parking-item{
            height: 100%;
            max-width: 500px;
            text-align: left;
            width: 100%;
            // border:5px solid black;
            border-radius: 5px;
            overflow: hidden;
            box-sizing: border-box;
            z-index: 2300;
            display: flex;
            background-color: #fff;
            flex-direction: column;
            justify-content: flex-start;
            .item-img{
                width: 100%;
                max-width: 500px;
                img{
                    width: 100%;
                }
            }
            .item-info{
                width: 100%;
                padding :15px;
                line-height: 1.5;
                .item-name{
                    font-size: 14px;
                    font-weight: 500;
                    color:#555;
                }
                .item-price{
                    display: flex;
                    align-items: center;
                    margin-bottom: 15px;
                    .price{
                        font-size: 20px;
                        color:#222;
                        padding-right: 15px;
                    }
                    .price-to-time{
                        font-size: 12px;
                        color:#999;
                    }
                }
                .item-date{
                    display: flex;
                    align-items: center;
                    .title{
                        font-size: 14px;
                        font-weight: bold;
                        color:#999;
                        padding-right: 15px;

                    }
                }
            }
        }
    }
}
.item{
    box-sizing: border-box;
}
html{
    body{
        .swiper{
            max-width: $max-width;
            width: 100%;
            padding-left : 15px;
            // height: 265px;
            border-radius: 5px;
            overflow: hidden;
            box-sizing: border-box;
            position: fixed;
            z-index: 2300;
             bottom:35px;
            // display: flex;
            width: 100%;
            height: 32%;
            // border: 2px solid red;
        }
        .swiper-slide{
            max-width: 375px;
            // margin-left: -30px;
            text-align: center;
            font-size: 18px;
            background: #fff;
            /* Center slide text vertically */
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;

        }
        .test{
            width: 100%;
            background-color: orange;
            height: 50px;
        }
    }
}
