@import '../../static/stylesheets/Root.scss';

html {
    body {
        :global(.MuiDialog-root) {
            min-height: 100vh;
            z-index: 4500 !important;
        }
        .dim {
            z-index: $level2;
        }
    }
}


.container {
    .item-list {
        
    }

}
