@import '../../static/stylesheets/Root.scss';
@import '../../static/stylesheets/Root.scss';
.header{
    width: 100%;
    height: $header;
    box-sizing: border-box;
    position: fixed;
    background-color: #fff;
    z-index: $level0;
    .title{
        width: calc(100% - 80px);
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        font-size: 17px;
        font-weight: bold;
        text-align: left;
        color: #333;
        margin-left:64px;
        letter-spacing :-0.5px;
        line-height: $header;
    }
}   

html{
    body{
        .back-btn{
            width: $header; height: $header;
            position: absolute;
            top:0;
            left:0;
        }
    }
}