@import '../../static/stylesheets/Root.scss';

.header{
    display: flex;
    align-items: center;
    width: 100%;
    top: $iphone-head;
    padding: 15px 24px;
    .title{
        margin-left: 20px;
        font-size: 17px;
        font-weight: bold;
    }
}   