@import '../../static/stylesheets/lib/mixin';
@import '../../static/stylesheets/lib/variables';

.dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 360px;
    border-radius: 10px;
    overflow: hidden;
    background-color: #fff;

    z-index: -1;
    visibility: hidden;

    @include mobile {
        width: 302px;
    }
    &.open {
        z-index: 4000;
        visibility: visible;
    }
    .area {
        width: 100%;
        height: 100%;
        border: solid 1px #dbdbdb;
        padding-bottom: 64px;
        @include mobile {
            padding-bottom: 54px;
        }
        .content {
            text-align: center;
            margin-top: 60px;
            margin-bottom: 40px;
            padding: 0 20px;
            word-break: keep-all;
            @include mobile {
                margin-top: 46px;
                margin-bottom: 30px;
            }
            line-height: 1.5;
            .title {
                font-size: 1.833rem;
                color: #222;
            }
            .text {
                margin-top: 30px;
                font-size: 1.333rem;
                color: #555;
            }
        }
    }

    .bottom {
        position: absolute;
        display: table;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 64px;
        @include mobile {
            height: 54px;
        }

        .button {
            width: 100%;
            height: 100%;
            font-size: 1.5rem;
            border: solid 1px #dbdbdb;
            &.active {
                border: none;
                font-weight: bold;
                background-color: $desktop-main-color;
                color: #fff;
                @include mobile {
                    background-color: $mobile-main-color;
                    font-weight: 500;
                }
            }
        }
    }
    &.confirm {
        .button {
            width: 50%;
            &:first-child {
                border-bottom-left-radius: 10px;
            }
            &:last-child {
                border-bottom-right-radius: 10px;
            }
        }
    }
}
