.parkinginfo {
    padding: 20px 24px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.08);
    border-radius: 2px;
    .image {
        width: 100%;
    }
    .wrapper {
        padding: 14px 18px;
        .title {
            font-size: 18px;
            font-weight: bold;
        }
    }
}
