.use-point {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
    .point {
        font-size: 14px;
        color: #777777;
        span {
            font-size: 14px;
            font-weight: bold;
            color: #555555;
        }
    }
    .confirm-button {
        width: 80px;
        height: 28px;
    }
}