$max-width: 768px;
$min-width: 320px;
$min-height: 100vh;
$font-size: 12px;
$mg-top: 60px;
$pd-top: 60px;
$padding: 24px;
$padding-side: 0 24px;

@mixin padding-side {
    padding: 0 24px;
}

// 모바일 컨테이너 믹스인
@mixin container($pd-top) {
    max-width: $max-width;
    min-width: $min-width;
    min-height: $min-height;
    margin: 0 auto;
    padding-top: $pd-top;
}

